[user]
	name = nickvanderstel
	email = njvander@gmail.com
[core]
[color]
	ui = true
[push]
	default = simple
[alias]
	au = add -u
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
	st = status
